:root {
    --green: #5f9341;
    --red: #b90606;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--green);
    margin-bottom: 4px;
}

button#input-btn {
    background-color: var(--green);
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button#tab-btn {
    background-color: var(--green);
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button#delete-btn {
    background-color: var(--red);
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 20px !important;
    padding-left: 0 !important;
}

li {
    margin-top: 5px !important;
}

a {
    color: var(--green);
}